node_modules
.vscode

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed

# Ignore VSCode settings folder
.vscode/

# Ignore environment variables file
.env

# Ignore Node.js dependencies
node_modules/

